@import "tailwindcss";

@theme {
    --color-brand: #f53c20;
    --font-caslon: 'Libre Caslon Condensed', serif;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}
body {
	font-family: "Public Sans Variable", sans-serif;
}
@supports (font-variation-settings: normal) {
	body {
		font-family: "Public Sans Variable", sans-serif;
	}
}

@font-face {
  font-family: 'BigSlant';
  src: url('/fonts/BIG-Slant-Ultra-Wide-FFP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Libre Caslon Condensed';
  src: url('./fonts/LibreCaslonCondensed[wght].woff2') format('woff2-variations');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Libre Caslon Condensed';
  src: url('./fonts/LibreCaslonCondensed-Italic[wght].woff2') format('woff2-variations');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

iconify-icon {
    display: inline-block;
}