.svg {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-neutral-900);
    border-radius: 1.25rem;

    path {
        stroke: var(--color-neutral-400);
        transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
    }

    &.on {
        background-color: var(--color-neutral-900);
        path {
            stroke: white;
        }
    }
}
