---
import PuzzleClient, { type WitnessConfig } from "./PuzzleClient";

interface Props {
	serialized: string;
	config?: WitnessConfig;
	class?: string;
	id?: string;
}

const {
	serialized,
	config,
	class: className,
	id,
} = Astro.props;
---

<div class="puzzle-wrapper" id={id} data-puzzle-wrapper>
	<PuzzleClient
		client:only="solid-js"
		serialized={serialized}
		config={config}
		class={className}
	/>
</div>
