

<footer class="footer footer-vertical p-10 bg-neutral-100">
    <div>
      <p class="font-bold text-lg">Hayden Rivas</p>
      <p class="text-black/70">Software Developer & Design Enthusiast</p>
      <p class="text-sm text-black/70">© {new Date().getFullYear()} All rights reserved</p>
    </div>
</footer>