---
interface Props {
	title: string;
	href: string;
	isActive?: boolean;
}
const { title, href } = Astro.props;
---

<a
	href={href}
	data-nav-href={href}
	class="px-8 py-0.5 rounded-xs transition-colors hover:bg-white text-white hover:text-black"
>
	{title}
</a>
