---
import MyIcon from "../important/MyIcon.astro";
import "iconify-icon";

import NavbarSections from "./NavbarSections";
import Hamburger from "./Hamburger";
---
<div>
    <div class="grid grid-cols-2 md:grid-cols-3 items-center px-4 py-3">

            <div class="justify-self-start">
                <MyIcon />
            </div>

            <div class="justify-self-end md:hidden">
                <Hamburger client:idle/>
            </div>

            <div class="hidden md:block">
                <NavbarSections client:load />
            </div>

            <div class="hidden md:block">
                <div class="justify-self-end flex flex-row justify-evenly items-center gap-2">
                    <a href="https://github.com/externalhost0" aria-label="Github Link" target="_blank" rel="noopener noreferrer">
                        <iconify-icon icon="mdi:github" class="hover:text-black/60 transition-colors" height={45} />
                    </a>
                    <a href="https://linkedin.com/in/hayden-rivas" aria-label="Linkedin Link" target="_blank" rel="noopener noreferrer">
                        <iconify-icon icon="mdi:linkedin" class="hover:text-black/60 transition-colors" height={45} />
                    </a>
                </div>
            </div>
        </div>
</div>
