---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout>
  <div class="w-full h-full flex items-center justify-center">
    <h1 class="text-accent">404! How did you do that?</h1>
  </div>
</CommonLayout>
