---
---

<div class="flex flex-col items-center justify-center w-full">
        <h1 class="text-4xl md:text-6xl animate-[fadein_0.5s_ease-out_1s_forwards] text-black/65 opacity-0">
            hi, i'm <span class="font-medium text-black">hayden rivas</span>
        </h1>
        <div class="relative perspective-near mt-10 group w-fit animate-[fadein_0.5s_ease-out_0s_forwards] opacity-0">
            <div
                class="p-px hover:rotate-x-7 active:-rotate-x-3 transition-all shadow-lg/50 hover:shadow-xl/50 active:shadow-sm bg-linear-to-b rounded-lg from-neutral-500 via-neutral-900 to-neutral-500 bg-size-[200%_200%] duration-500 hover:scale-105 active:duration-150 active:scale-95"
            >
            <div class="rounded-lg transition-all bg-linear-to-b duration-1000 ease-out from-neutral-600 via-neutral-800 to-neutral-600 active:duration-25 active:ease-in active:bg-position-[0_100%] bg-size-[200%_200%]">
                <button
                    id="learn-button"
                    class="font-bold cursor-pointer bg-linear-to-b from-neutral-900 via-75% via-neutral-800 to-neutral-400  bg-size-[200%_200%] transition-all duration-1000 py-2 px-6 text-2xl bg-clip-text text-transparent drop-shadow-[0_0.5px_1px_rgba(255,255,255,0.1)]"
                >
                    Learn About Me
                </button>
            </div>
            </div>
        </div>
</div>

<!-- <div
	class="w-full absolute top-20 left-30 max-w-sm p-px shadow-lg bg-linear-150 from-neutral-200 via-10% via-neutral-500 to-neutral-900"
	style="clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 33%);"
>
	<div
		class="bg-linear-150 from-neutral-600 via-neutral-700 via-30% to-110% to-neutral-800 p-8 pt-6"
		style="clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 33%);"
	>
		<div class="flex flex-col gap-2">
			<p
				class="font-bold text-xl sm:text-2xl bg-neutral-900 bg-clip-text text-transparent drop-shadow-[0_1px_1px_rgba(255,255,255,0.1)]"
			>
				Title
			</p>
			<p
				class="text-base wrap-break-word sm:text-lg max-w-prose bg-neutral-900 bg-clip-text text-transparent drop-shadow-[0_1px_0px_rgba(255,255,255,0.05)]"
			>
				Lorem ipsum bla bla i forgot the rest of it ajdhaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
			</p>
		</div>
	</div>
</div> -->
