---
import Project from "./misc/Project.astro";

---


<div class="h-screen w-full flex flex-col items-center justify-center">
    <p id="begin" class="text-white">heres some of what ive done</p>
</div>