---

interface Props {
    href: string;
    webmSource: string;
    mp4Source: string;
    text?: string;

}
const { href, webmSource, mp4Source } = Astro.props;
---
<a href={href} >
    <video>
        <source src={webmSource} type="video/webm"/>
        <source src={mp4Source} type="video/mp4"/>
    </video>
</a>

