---
import "../styles/global.css";
// Supports weights 100-900
import "@fontsource-variable/public-sans";
// for lenis css
import "lenis/dist/lenis.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Hayden Rivas</title>
        <link rel="preload" href="./src/assets/fonts/04b_03b.woff2" as="font" type="font/woff2" crossorigin />
	</head>
	<body>
		<div id="background-frame" class="fixed inset-0 bg-brand-light -z-10"></div>
        <slot name="before-inset"/>
        <!-- before switching to a scrollless site, this had overflow-y-scroll -->
		<div
			id="wrapper"
			class="fixed inset-5 overflow-hidden bg-transparent border border-black"
		>
			<slot />
		</div>
	</body>
</html>
